include meetup-talk
//- TODO Jerry can u replace the use of the design in li.member-item . I have just used this definition to display data
//-	I want the group tile and the venue tile to be displayed under the date tile.
//- The image of the group is round. pls mage it square
//- The venue tile is not filled with data yet. It will take its data and logo from the organisation that is the venue see for listing /organisations	
	
mixin meetup(meetup)

	- var today = new Date();

	

	.tile.ph-1.pv-1
		.meetup-calendar.calendar.hidden-xs.hidden-sm(class=meetup.state == 'past' ? 'calendar--past' : null)
			.calendar__header=meetup._.startDate.format('MMM')
			.calendar__body
				.calendar__date=meetup._.startDate.format('DD')
				.calendar__year=meetup._.startDate.format('YYYY')
				


	.meetup-content
			h2.mv-5= meetup.name
			h5.mb-1=meetup._.startDate.format('dddd D MMM YYYY')
				|  from #{meetup._.startDate.format('h:mma')} - #{meetup._.endDate.format('h:mma')}
			
				
			.group.group--card
				.group-section.group__photo
					if meetup.group.logo.exists
						a(href='/group/' + meetup.group.key) 
				.group-section.group__info
					h5.group__title= meetup.group.name
				.group__bio= meetup.group.slogan
				
			.venue.venue--card
				
				.venue-section.venue__info
					h5.venue__title='Venue name'
				.venue__bio='Venue address is google maps link'
				
				
			if meetup.description
				p!= meetup.description
			if meetup.talks.length
				hr.mv-2
				ul.meetup-talks
					each talk in meetup.talks
						+meetup-talk(talk)
						
			//-TODO Jerry: I have found the fields and the IF´s needed related to Case-of-the-evening. Can you find a nice way of displaying the fields
			if meetup.case.name	
				h2.mv-5= 'case name: ' +meetup.case.name
			if meetup.case.description	
				p!= 'case description: ' +meetup.case.description
			if meetup.case.feedback	
				p!= 'case feedback: ' + meetup.case.feedback
				
		
		
			if meetup.case.presenter
				p!= 'foto: ' +meetup.case.presenter.avatarUrl
				if meetup.case.presenter.name
					h2.mv-5= 'case presenter: ' + meetup.case.presenter.name.full
				if meetup.case.presenter.avatarUrl	
					img(src=meetup.case.presenter.avatarUrl , width=40, height=40, alt=meetup.case.presenter.name.full).talk__photo
					
				
			if meetup.case.organisation
				if meetup.case.organisation.name
					h2.mv-5= 'org name: ' + meetup.case.organisation.name
				if meetup.case.organisation.logo
					p!= 'org logo: ' + meetup.case.organisation.logo.url 
				if meetup.case.organisation.key
					p!= 'org key "/organisations/ :"' + meetup.case.organisation.key
				if meetup.case.organisation.key && meetup.case.organisation.logo && meetup.case.organisation.name	
					a(href='/organisations/' + meetup.case.organisation.key)
						img(src=meetup.case.organisation.logo.url, alt=meetup.case.organisation.name)
				
			
			
			
			


	if meetup.state == 'active'
			hr.mv-2
			if user
				if meetup.rsvpsAvailable || rsvpStatus.rsvped && rsvpStatus.attending
					h4.hero-button-title Are you coming? 
						span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
					include ../includes/attendance-toggle
				else
					.alert.alert-success.mb-0.text-center No more tickets...
			
			else
				#next-meetup(data-id=meetup.id)
					if meetup.rsvpsAvailable
						a(href='/join', data-from=page.path).btn.btn-primary.btn-lg.btn-block.js-auth-trigger RSVP Now 
							span.text-thin (#{plural(meetup.remainingRSVPs, '* spot left', '* spots left')})
					else
						.alert.alert-success.mb-0.text-center No more tickets...
		else if meetup.totalRSVPs
			hr
			.text-center
				.h1.text-muted.mb-0= meetup.totalRSVPs
				.lead.text-muted people #{meetup.state == 'active' ? "are attending" : "attended"} this meetup
			if meetup.state == 'past'
				ul.list-unstyled.list-inline.text-center
					for rsvp in meetup.rsvps
						if rsvp.who
							- var attendee = rsvp.who;
							if attendee.isPublic
								li: a(href=attendee.url, title=attendee.name.full)
									img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
							else
								li(title=attendee.name.full): img(src=attendee.photo.exists ? attendee._.photo.thumbnail(80,80) : attendee.avatarUrl || '/images/avatar.png', width=40, height=40, alt=attendee.name.full).img-circle
